/*
 * Empty Stylesheet file.
 */

.login_bg {
-fx-background-color: linear-gradient(to top ,#3f0000,black);
}
.btn_login{
    -fx-background-color: #1340c2;
    -fx-text-fill: #FFF;
    -fx-background-radius: 8px;
}


.lbl-status{
     
    -fx-text-fill: #FFF;
    -fx-alignment: CENTER;
     
     }
     
     .lbl-user{
         -fx-text-fill: black;
         -fx-alignment: CENTER;
       }    
       
   /*use TAB PANE*/
   
   .tab-pane {
       -fx-tab-max-height:0px;
       
    }
   
   
    .tab-pane  .tab-header-area{
        visibility: hidden;
        
    }
    .btn_CRUD{
        -fx-border-color: #2A73FF;
    -fx-background-color: transparent;
    -fx-border-radius: 20px;
        
        
    }   
    
    