.button{
    -fx-background-color: transparent ;
    -fx-border-color: #2A73FF;
    -fx-border-radius: 20;
    -fx-text-fill:white;
}
.label{
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-alignment: center;
    -fx-text-fill:white;
}

.text-field{
    -fx-background-color:  #6495ED ;

}
.table-row-cell {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    /* 0 */
    -fx-text-fill: rgb(5, 5, 5);
    -fx-text-inner-color: rgb(0, 0, 0);
    -fx-background-color:  #6495ED;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: black;
}

.table-row-cell:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view:focused .table-row-cell:filled:selected .table-cell {
    -fx-background-color: #6a6a6a;
    -fx-text-fill: rgb(255, 2, 2);
}


/* When the TableView is _not_ focused, we show alternate selection colors */

.table-row-cell:filled:selected:focused,
.table-row-cell:filled:selected {
    -fx-background-color: #6a6a6a;
}

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #e84c3d;
    -fx-background-insets: 0, 0 0 1 0;
    /*-fx-text-fill: -fx-text-inner-color;*/
    -fx-text-fill: #fff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: #e84c3d;
    /*-fx-text-fill: -fx-text-inner-color;*/
    -fx-text-fill: #fff;
    -fx-table-cell-border-color: #9f9f9f;
    -fx-table-header-border-color: #9f9f9f;
}

.table-view:focused .table-row-cell:filled:selected .table-cell:hover {
    -fx-background-color: #e84c3d;
    /*-fx-text-fill: -fx-text-inner-color;*/
    -fx-text-fill: #fff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}