
<!DOCTYPE html>
<html>
<head>
	<title>Quiz App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ asset('assets/scss/quiz.css') }}">
    
</head>
<body>



  <!-- Now add the widget with the sitekey that you retrieve in the registration -->

<div class="captcha-box custom-box ">
<script src='https://www.google.com/recaptcha/api.js'>
</script>
  <div class="g-recaptcha" data-sitekey="6LdnILcaAAAAAJPQ4BxYMZqqb25qdhTz1aKzTuVy" data-callback="enableBtn"></div>
<input type="button" value="Submit" id="button1" disabled="disabled" name="Submit" class="btn" onclick="submitCaptcha()">
<script> function enableBtn(){
   document.getElementById("button1").disabled = false;
   
 }</script> 
 </div>


<div class="home-box custom-box hide ">
<h3> Instructions:</h3>
<p> Total of questions :<span class="total-question">5</span></p>
<button type ="button" class="btn" onclick="startQuiz()">Start </button>
</div>
<div class="quiz-box custom-box hide">
<div class="question-text"></div>
<div class="question-number"></div>

<div class="option-container">

</div>
<div class="question-container"></div>
<div class="next-question-button"></div>
<button type="button" class="btn" onclick="next()"> Next</button>
<div class="answers-indicator">


</div>
</div>

<div class="result-box custom-box hide ">
<table>
<tr>
<td>Total Question</td>
<td><span class="total-question"></span></td>
</tr>
<tr>
<td>Attempt</td>
<td><span class="total-attempt"></span></td>
</tr>
<tr>
<td>Correct</td>
<td><span class="total-correct"></span></td>
</tr>
<tr>
<td>Wrong</td>
<td><span class="total-wrong"></span></td>
</tr>
<tr>
<td>Percentage</td>
<td><span class="percentage"></span></td>
</tr>
<tr>
<td>Your total score</td>
<td><span class="total-score"></span></td>
</tr>
</table>
<button type="button" class="btn" onclick="tryAgainQuiz()">Try again</button>

<button type="button" class="btn" ><a style="text-decoration:none" href="{{ path('home') }}" Class="link">Gome Home</a></button>
<script src="{{ asset('assets/js/quiz.js') }}"></script>
<script src="{{ asset('assets/js/app.js') }}"></script>
</body>
</html>


