{% extends 'base.html.twig' %}

{% block title %}Filmactors index{% endblock %}

{% block body %}
    <h1>Filmactors index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for filmactor in filmactors %}
            <tr>
                <td>{{ filmactor.id }}</td>
                <td>
                    <a href="{{ path('filmactors_show', {'id': filmactor.id}) }}">show</a>
                    <a href="{{ path('filmactors_edit', {'id': filmactor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('filmactors_new') }}">Create new</a>
{% endblock %}
